<!DOCTYPE html>
<html>
<head>
    <title>{{post.title}} - CMS Blog</title>
    <link rel="stylesheet" href="/styles.css">
    <script>
        var pid = window.location.href.split('/').reverse()[0];
    </script>
</head>
<body>
    <nav>
        <div class="container">
            <ul>
                <li> <h1>Comments</h1></li>
                
            </ul>
        </div>
    </nav>
    <main>
        <div class="container">
            <article class="post">
                {{#each post3}}
                <h1>{{title}}</h1>
                <p class="post-content">{{content}}</p>
                {{/each}}
                <br><br>
                <h2>Comments</h2>
                <br>
                {{#each comments2}}
                <div class="comment">
                    <p>{{content}}</p>
                    <p class="comment-info">By {{user}} on {{createdAt}}</p>
                </div>
                {{/each}}
                <h2>Add a Comment</h2>
                <form method="POST" action="/posts/add-comment">
                    <script>
                        document.write('<input type="hidden" name="postId" value="' + pid + '">');
                        document.write('<input type="hidden" name="commentsurl" value="' + location.href + '">');
                    </script>
                    
                    <div class="form-group">
                        <label for="comment">Write your comment:</label>
                        <textarea name="content" id="comment" rows="4" required></textarea>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </article>
        </div>
    </main>
</body>
</html>
